.main{
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  padding:0px;
  margin-top: 0;
  background-size: 3000px;
  height: 1000px;
}
.headingmain{
  color: #A8EB12;
  font-size: 120px;
  text-align: center;
  padding-bottom: -20px;
  margin-top:0;
  margin-bottom: 0;
}
.head{
  color:#BEC8A3;
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2px;
}
.button{
  background-color: #2CD261; /* Green */
  color: white;
  padding: 10px 27px;
  text-align: center;
  font-size: 20px;
  align-items: center;
  border-radius: 5px;
  transition-duration: 0.2s;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 46%;
  margin-top: 10px;
}

.button:hover {
  background-color: #008F92; /* Green */
  color: white;
  offset: 5;
  cursor: pointer;
}
.fileup{
  font-size: 17px;
  color: whitesmoke;
  text-align: center;
  align-items: center;
  margin: 0;
  position: absolute;
  left: 43%;
}
.head2{
  color:#A9AD9B;
  text-align: center;
  font-size: 22px;
}
.list{
  background-color: #2B7EB9;
  font-size: 18px;
  text-align: center;
  color: #cccec3;
}
.head3{
  color: rgb(221, 218, 218);
  text-align: center;
  font-size: 22px;
}
.button2{
  background-color: #2CD261; /* Green */
  color: white;
  padding: 10px 27px;
  text-align: center;
  font-size: 20px;
  align-items: center;
  border-radius: 5px;
  transition-duration: 0.2s;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 44.75%;
  margin-top: 10px;
}

.button2:hover {
  background-color: #008F92; /* Green */
  color: white;
  offset: 5;
  cursor: pointer;
}

.button3{
  background-color: #2CD261; /* Green */
  color: white;
  padding: 10px 27px;
  text-align: center;
  font-size: 20px;
  align-items: center;
  border-radius: 5px;
  transition-duration: 0.2s;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 42.5%;
  margin-top: 10px;
}

.button3:hover {
  background-color: #008F92; /* Green */
  color: white;
  offset: 5;
  cursor: pointer;
}



